<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmácia</title>
  </head>
  <body>
    <a
      href="index.php?controle=FarmaciaController&metodo=listar_farmacias_por_remedio"
    >
      Listar Farmácias por remédio</a
    >

    <br />

    <a href="index.php?controle=FarmaciaController&metodo=cadastrar_farmacia">
      Cadastrar farmácia</a
    >

    <br />
  </body>
</html>
